<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- idCliente Column -->
  <ng-container matColumnDef="idCliente">
    <th mat-header-cell *matHeaderCellDef> ID Cliente </th>
    <td mat-cell *matCellDef="let element"> {{element.idCliente}} </td>
  </ng-container>

  <!-- titulo Column -->
  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef> Titulo </th>
    <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
  </ng-container>

  <!-- completo Column -->
  <ng-container matColumnDef="completo">
    <th mat-header-cell *matHeaderCellDef> Completo </th>
    <td mat-cell *matCellDef="let element"> {{convertirBooleano(element.isCompletado)}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
